iframe {
  pointer-events: none;
}

.card {
  margin-top: 3%;
  background-color: red;
  padding: 3%;
}

.numberButton:hover {
  background-color: black;
}

.numberButton {
  background-color: green;
  color: white;
  padding: 4%;
}

.showOldCard {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 3%;
}
