@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

*:focus {
  outline: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282d34;
  margin-left: 5px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: rgb(151, 1, 1);
  transition: all ease-in-out 0.5s;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: rgb(228, 82, 25);
  transition: all ease-in-out 0.5s;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: rgb(218, 187, 17);
  transition: all ease-in-out 0.5s;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: rgb(4, 128, 0);
  transition: all ease-in-out 0.5s;
}

meter::-moz-meter-bar {
  border-radius: 4vh;
}

body {
  --addPlaceHoldersFontSize: 15px;
  --addPlaceHoldersFontSizeWeight: 500;
  --addPlaceHoldersFontFamily: sans-serif;
  --addPlaceHoldersOpacity: 0.7;
  --addPlaceHoldersFontSizeTextAlign: initial;
  --addPlaceHoldersPaddingLeft: 2%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 8vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 71, 71);
  border-radius: 8vh;
  margin-left: 2px;
  opacity: 0.7;
}

/* ::placeholder {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  opacity: 0.7;
  text-align: initial;
  padding-left: 2%;
} */

@keyframes fadeSlight {
  to {
    opacity: 0.7;
  }
}

@keyframes fadeBack {
  to {
    opacity: 1;
  }
}

@keyframes fadeAway {
  to {
    opacity: 0;
  }
}

@keyframes pushOutUpdateTab {
  to {
    width: 40%;
  }
}

@keyframes pullInUpdateTab {
  to {
    width: 0%;
  }
}

@keyframes updateTabToDark {
  to {
    background-color: #0b0b0b;
  }
}

@keyframes updateTabToNormal {
  to {
    background-color: #0c1213;
  }
}

@keyframes updateInputBoxesGlow {
  to {
    box-shadow: rgb(255, 255, 255) 0px 0px 12px 1px;
  }
}

@keyframes updateInputBoxesNormal {
  to {
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  }
}

@keyframes pushOutMPTab {
  to {
    width: 37%;
  }
}

@keyframes pullInMPTab {
  to {
    width: 0%;
  }
}

.queryLine {
  /* position: absolute; */
  background-color: #434446;
  /* background-image: linear-gradient(to right, #002327, #0b817b); */
  color: #1557db;
  opacity: 0.8;
  height: 2px;
  width: 100%;
  font-family: sans-serif;
  right: 13%;
  /* margin-left: -5%; This will cause the grey hovering thing to extend past line */
  border-radius: 40vh;
}

.queryScreen {
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: flex;
  flex-direction: column;
}

.mainDivClass {
  padding-top: 2%;
}

.mainDivClass:hover {
  background-color: #2f353d;
  transition: all ease-in-out 0.1s;
}

.linkIcons {
  width: auto;
  height: 35px;
  /* background-color: #122640; */
  border-radius: 1vh;
  object-fit: cover;
  object-position: 50% 50%;
  /* position: absolute; */
}

.letterLinkIcons {
  width: 34px;
  height: 34px;
  border-radius: 1vh;
  object-fit: cover;
  /* margin-bottom: -3%; */
  display: inline-block;
}

.infoDiv {
  margin-bottom: 2%;
  font-family: "Montserrat", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

.letterBoxLetter {
  color: white;
  padding-top: 24%;
  padding-left: 34%;
  margin: 0;
}

.shownAppName {
  border: none;
  outline: none;
  user-select: none;
  left: 51.5%;
  /* margin-top: -3%; */
  margin-left: 6%;
  background: transparent;
  color: white;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.shownEmail {
  border: none;
  outline: none;
  user-select: none;
  left: 51.5%;
  /* margin-top: -3%; */
  margin-left: 6%;
  background: transparent;
  color: white;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.hiddenPasswordInputBox {
  border: none;
  outline: none;
  user-select: none;
  left: 51.5%;
  margin-top: -3%;
  margin-left: 6%;
  background: transparent;
  color: white;
  display: inline-block;
}
.editContainer {
  background-color: #b3b3b3;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 4vh;
  left: 75%;
  display: inline-block;
}

.editContainer:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgb(149, 151, 151);
  transition: all ease-in-out 0.1s;
}

.editClass {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eyeContainer {
  background-color: #b3b3b3;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 4vh;
  left: 75%;
  display: inline-block;
}

.eyeContainer:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgb(149, 151, 151);
  transition: all ease-in-out 0.1s;
}

.eyeClass {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyContainer {
  background-color: #b3b3b3;
  opacity: 0.5;
  width: 30px;
  left: 78%;
  height: 30px;
  border-radius: 4vh;
  margin-left: 12%;
  display: inline-block;
  margin-left: 13%;
}

.copyContainer:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgb(149, 151, 151);
  transition: all ease-in-out 0.1s;
}

.copyClass {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trashContainer {
  background-color: #b3b3b3;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 4vh;
  left: 81%;
  display: inline-block;
}

.trashContainer:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgb(149, 151, 151);
  transition: all ease-in-out 0.1s;
}

.trashClass {
  position: relative;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.addButton {
  border-radius: 4vh;
  color: white;
  background-color: #0b817b;
  border: none;
  outline: none;
  opacity: 0.7;
  padding: 1%;
  padding-right: 2%;
  padding-left: 2%;
  /* position: absolute; */
  left: 87%;
  bottom: 90%;
  font-family: "Montserrat", sans-serif;
}

.addButton:hover {
  opacity: 1;
  transition: all ease-in-out 0.1s;
  box-shadow: 0 0 10px rgb(1, 255, 242);
}

#settingsButton {
  font-size: 27px;
  border-radius: 4vh;
  color: #0b817b;
  border: none;
  outline: none;
  /* opacity: 0.7; */
  padding: 1%;
  /* position: absolute; */
  right: 94%;
  bottom: 90%;
}

#settingsButton:hover {
  opacity: 1;
  background-color: #2f353d;
  box-shadow: 0 0 10px rgb(1, 255, 242);
  transition: all ease-in-out 0.1s;
}

#settingsButton:hover {
  transform: rotate(180deg);
  transition: all ease-in-out 0.5s;
}

.addPasswordScreen {
  display: none;
  background-color: #383636;
  border-radius: 1.5vh;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.nameOfQuery {
  background-color: #000000;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border-radius: 1vh;
  outline: none;
  border: none;
  margin-top: 8%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 2.5%;
  margin-left: 8%;
  height: 8%;
  text-align: center;
  padding-left: 14%;
  padding-right: 14%;
  width: 55%;
}

.nameOfQuery:focus {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.nameOfQuery:hover {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.nameOfQuery::placeholder {
  font-size: var(--addPlaceHoldersFontSize);
  font-weight: var(--addPlaceHoldersFontSizeWeight);
  font-family: var(--addPlaceHoldersFontFamily);
  opacity: var(--addPlaceHoldersOpacity);
  text-align: var(--addPlaceHoldersFontSizeTextAlign);
  padding-left: var(--addPlaceHoldersPaddingLeft);
}

/* */

.usernameOfQuery {
  background-color: #000000;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border-radius: 1vh;
  outline: none;
  border: none;
  margin-top: 8%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 2.5%;
  margin-left: 8%;
  height: 8%;
  text-align: center;
  padding-left: 14%;
  padding-right: 14%;
  width: 55%;
}

.usernameOfQuery:focus {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.usernameOfQuery:hover {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.usernameOfQuery::placeholder {
  font-size: var(--addPlaceHoldersFontSize);
  font-weight: var(--addPlaceHoldersFontSizeWeight);
  font-family: var(--addPlaceHoldersFontFamily);
  opacity: var(--addPlaceHoldersOpacity);
  text-align: var(--addPlaceHoldersFontSizeTextAlign);
  padding-left: var(--addPlaceHoldersPaddingLeft);
}

/* */

.passwordOfQuery {
  background-color: #000000;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border-radius: 1vh;
  outline: none;
  border: none;
  margin-top: 8%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 2.5%;
  margin-left: 8%;
  height: 8%;
  text-align: center;
  padding-left: 14%;
  padding-right: 14%;
  width: 55%;
}

.passwordOfQuery:focus {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.passwordOfQuery:hover {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.passwordOfQuery::placeholder {
  font-size: var(--addPlaceHoldersFontSize);
  font-weight: var(--addPlaceHoldersFontSizeWeight);
  font-family: var(--addPlaceHoldersFontFamily);
  opacity: var(--addPlaceHoldersOpacity);
  text-align: var(--addPlaceHoldersFontSizeTextAlign);
  padding-left: var(--addPlaceHoldersPaddingLeft);
}

.URLOfQuery {
  background-color: #000000;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border-radius: 1vh;
  outline: none;
  border: none;
  margin-top: 8%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 2.5%;
  margin-left: 8%;
  height: 8%;
  text-align: center;
  padding-left: 14%;
  padding-right: 14%;
  width: 55%;
}

.URLOfQuery:focus {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.URLOfQuery:hover {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}
.URLOfQuery::placeholder {
  font-size: var(--addPlaceHoldersFontSize);
  font-weight: var(--addPlaceHoldersFontSizeWeight);
  font-family: var(--addPlaceHoldersFontFamily);
  opacity: var(--addPlaceHoldersOpacity);
  text-align: var(--addPlaceHoldersFontSizeTextAlign);
  padding-left: var(--addPlaceHoldersPaddingLeft);
}

.addPasswordScreen input {
  border: 3px solid #5e6161;
}

.addPasswordScreen input:focus {
  border: 2px solid white;
  transition: 0.2s;
}

.confirmQuery {
  width: 83%;
  height: 9%;
  color: white;
  cursor: pointer;
  background-color: #13817c;
  border-radius: 1vh;
  border: none;
  padding: 2%;
  opacity: 0.8;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  margin-top: 8%;
  margin-left: 8%;
  font-weight: 600;
  margin-bottom: 3%;
}

.confirmQuery:hover {
  opacity: 1;
  transition: all ease-in-out 0.1s;
}

#eyeForAdd {
  position: absolute;
  color: #13817c;
  right: 14%;
  bottom: 40.7%;
  font-size: 17px;
}

#addPasswordText {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 0;
}

#closeAdd {
  position: absolute;
  right: 3%;
  top: 3%;
  padding: 2% 3% 2% 3%;
  border: 1px solid #707070;
  border-radius: 10vh;
  background-color: #242424;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#closeAdd:hover {
  background-color: #504f4f;
  transition: 0.2s;
}

.changeMasterPasswordScreen {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  background: #1b1b1b;
  width: 0%;
  height: -webkit-fill-available;
  padding: 0%;
  justify-content: space-evenly;
}

.changeMasterPasswordHeader {
  display: none;
  color: white;
  margin-top: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.changeMPInput {
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 15px;
  padding: 5%;
  border-top: 1px solid #746e6e;
  background-color: #30343c;
}

.changeMPCurrentMP {
  border: none;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
}

.changeMPRenterNewMP {
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
}

.showNewMPPasswordsButton {
  border: none;
  background: #30343c;
  opacity: 0.8;
  border-radius: 0.5vh;
  padding: 3%;
  margin-bottom: 1%;
}

.showPasswordsText {
  color: white;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin: 0;
  font-weight: 600;
}

.changeMPFooter {
  display: none;
  flex-direction: column;
}

.confirmMasterPasswordChange {
  padding: 3%;
  border-radius: 0.5vh;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: darkcyan;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
}

.closeChangeMasterPasswordWindow {
  display: none;
  padding: 3%;
  border-radius: 0.5vh;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: #30343c;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
}

.changeMPInputsContainer {
  display: none;
  flex-direction: column;
}

.confirmMasterPasswordChange:hover {
  opacity: 1;
  transition: 0.2s;
}

#closeSettings {
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 1% 1.4% 1% 1.4%;
  border: 1px solid #707070;
  border-radius: 10vh;
  background-color: #3e3e3e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#closeSettings:hover {
  background-color: #504f4f;
  transition: 0.2s;
}

.settingsScreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: #2a2828;
  justify-content: center;
}

.accountSettingsHeader {
  color: white;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.accountSettings {
  display: flex;
  flex-direction: column;
}

.mainSettings {
  padding-top: 3%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.accountSettingsSection {
  width: 41%;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
}

.accountSettingsButtons {
  background-color: #30343c;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 2%;
  cursor: pointer;
}

.settingsButtonText {
  float: left;
  font-size: 16px;
  padding-left: 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.upgradeToPremium {
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  background-image: linear-gradient(to left, #8e2de2, #4a00e0);
}

.changeMasterPassword {
  border-top: 1px solid #746e6e;
}

.logOutOfPMAccount {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-top: 1px solid #746e6e;
}

.logOutOfPMAccount p {
  color: #cf4242;
}

.securitySettingsSection {
  width: 41%;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
}

.securitySettingsHeader {
  color: white;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.securitySettings {
  display: flex;
  flex-direction: column;
}

.securitySettingsButtons {
  background-color: #30343c;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 2%;
  cursor: pointer;
}

.mfa {
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  display: flex;
  justify-content: space-between;
}

.autolock {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-top: 1px solid #746e6e;
}

#fromMainToLogin {
  display: none;
}

.setupMasterPasswordScreen {
  display: none;
  background-color: #383636;
  border-radius: 1.5vh;
  box-shadow: 0px 3px 14px 5px rgb(0 0 0);
  width: 48%;
  margin-right: 6%;
}

.createMasterPasswordHeader {
  color: white;
  font-weight: 700;
  font-size: 1.65rem;
  text-align: center;
  margin-top: 9%;
  font-family: "Montserrat", sans-serif;
}

.newMasterPasswordField {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid teal;
  margin-top: 8.5%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 3%;
  /* margin-left: 8%; */
  height: 8%;
  /* text-align: center; */
  padding-left: 2%;
  padding-right: 14%;
  align-self: center;
  width: 40%;
  margin-top: 4%;
}

.newMasterPasswordField:focus {
  width: 51%;
  transition: all ease-in-out 0.2s;
}

.newMasterPasswordField:focus ~ #passwordStrengthBar {
  width: 67%;
  transition: all ease-in-out 0.2s;
}

/* .newMasterPasswordField:focus {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border: 3px solid rgb(1 255 242);
  transition: all ease-in-out 0.2s;
}
.newMasterPasswordField:hover {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  border: 3px solid rgb(1 255 242);
  transition: all ease-in-out 0.2s;
} */

.renterMP {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid teal;
  margin-top: 3%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 3%;
  height: 8%;
  padding-left: 2%;
  padding-right: 14%;
  align-self: center;
  width: 40%;
}

.renterMP:focus {
  width: 51%;
  transition: all ease-in-out 0.2s;
}

.renterMP:focus ~ #reenterPasswordStrengthBar {
  width: 67%;
  transition: all ease-in-out 0.2s;
}

/* timeToCrack is for the Create MP */
#timeToCrack {
  text-align: center;
  color: #00ffd0;
  font-family: "Montserrat", sans-serif;
  font-size: 16.5px;
  font-weight: bold;
}

/* timeToCrackEnter is for the Create MP */
#timeToCrackEnter {
  text-align: center;
  color: #00ffd0;
  font-family: "Montserrat", sans-serif;
  font-size: 16.5px;
  font-weight: bold;
  position: absolute;
  left: 5.5%;
}

meter {
  align-self: center;
  width: 56%;
  height: 12px;
  overflow: hidden;
  border-radius: 1vh;
  margin-top: 1%;
}

.confirmMasterPasswordButton {
  width: 82%;
  padding: 3%;
  color: white;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  background-color: #13817c;
  border-radius: 10vh;
  opacity: 0.8;
  margin-top: 8%;
  margin-bottom: 4%;
  margin-left: 9%;
  border: none;
  padding: 3%;
}

.confirmMasterPasswordButton:hover {
  opacity: 1;
  transition: ease-in-out 0.1s;
}

.setupMPScreenContainer {
  padding-bottom: 7%;
  display: flex;
  flex-direction: column;
}

#back {
  color: #00ffd0;
  text-decoration: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

#back:hover {
  opacity: 0.7;
  margin-top: 0.5%;
  transition: all ease-in-out 0.2s;
}

.settingsButtons {
  text-align: center;
  background-color: #13817c;
  outline: none;
  border: none;
  border-radius: 2vh;
  padding: 4%;
  width: 95%;
  height: 11%;
  font-size: 105%;
  margin-top: 8%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}

.settingsButtonsContainer {
  margin-top: 4%;
  margin-left: 5%;
}

.setupMasterPasswordScreenFlexContainer {
  display: flex;
  justify-content: center;
}

#SAinfoSettingsButton:hover {
  border: 2px solid rgb(1 255 242);
  transition: all ease-in-out 0.1s;
}

#importSettingsButton:hover {
  border: 2px solid rgb(1 255 242);
  transition: all ease-in-out 0.1s;
}

#exportSettingsButton:hover {
  border: 2px solid rgb(1 255 242);
  transition: all ease-in-out 0.1s;
}

#logoutSettingsButton:hover {
  border: 2px solid rgb(107, 7, 7);
  transition: all ease-in-out 0.1s;
}

#logoutSettingsButton {
  margin-top: 13%;
  background-color: #a50b0b;
  margin-bottom: 3%;
}

#backContainer {
  text-align: center;
}

.toggler {
  margin-left: 10%;
}

.tholder {
  left: 71%;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
}

.updateQueryScreen {
  z-index: 4;
  display: none;
  /* background-image: linear-gradient(to bottom right, #053f45, #0b817b); */
  background-color: #0c1213;

  width: 0%;
  height: 100vh;
  position: absolute;
  right: 0%;
  top: 0%;
  box-shadow: 0 20px 25px rgb(0 0 0 / 80%);
}

#updateScreenIcon {
  border-radius: 1vh;
}

.queryInfoTable {
  margin: auto;
  margin-top: 16%;
  border-collapse: collapse;
  width: 82%;
}

.queryInfoTable tbody:before {
  line-height: 4em;
  content: ".";
}

.queryInfoTable tbody {
  line-height: 2rem;
}

.queryInfoTable thead tr td {
  text-align: center;
  width: 100%;
}

.smallUpdateDisplayText {
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 0.7;
  margin-right: 1%;
  float: right;
  font-size: 99%;
}

.strongUpdateDisplayText {
  background-color: #151922;
  border-radius: 0.5vh;
  padding: 4%;
  margin-top: 1%;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-right: 0;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  outline: none;
  border: none;
  font-size: 15px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}

.updateQueryScreen {
  overflow-y: scroll;
}

.updateScreenQueryNameHeader {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.strongUpdateDisplayText:hover {
  background-color: #2f353d;
  transition: all ease-in-out 0.2s;
}

/* #togglePasswordUpdateDisplay {
  font-family: "Font Awesome 5 Free";
  color: white;
  margin-left: -10%;
  margin-top: 5%;
}

#togglePasswordUpdateDisplayContainer {
  background-color: #2f353d;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  border-radius: 4vh;
  display: none;
} */

.queryInfoTable tfoot tr td {
  text-align: center;
}

.queryInfoTable tfoot tr {
  text-align: center;
  line-height: 76px;
}

tfoot:before {
  line-height: 1em;
  content: ".";
}

.editButtonUpdate {
  background-color: #2f353d;
  border: 2px black solid;
  border-radius: 0.5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: white;
  padding: 2%;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
}

.editButtonUpdate:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.3s;
}

.saveButtonUpdate {
  background-color: #036875;
  border: 2px black solid;
  border-radius: 0.5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: white;
  padding: 2%;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  display: none;
}

.saveButtonUpdate:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.3s;
}

.cancelButtonUpdate {
  background-color: #2f353d;
  border: 2px black solid;
  border-radius: 0.5vh;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: white;
  padding: 2%;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0.15);
  display: none;
}

.cancelButtonUpdate:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.3s;
}

.headerFlexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4%;
}

#titleHeader {
  font-size: 38px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.deleteQueryButton {
  background-color: transparent;
  border: 2px solid rgb(132, 66, 66);
  border-radius: 9vh;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: rgb(132, 66, 66);
  font-weight: 900;
  padding: 2%;
  float: left;
  cursor: pointer;
  box-shadow: 0px 10px 30px 5px rgb(0 0 0);
}

.deleteQueryButton:hover {
  margin-top: -0.5%;
  transition: 0.2s all ease;
}

.cdel {
  display: none;
  background-color: #0c1213;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0.5vh;
  padding: 2%;
  padding-bottom: 1.2%;
  box-shadow: 0px 10px 30px 5px rgb(0 0 0);
}

.askConfirmDelete {
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin-top: 0;
}

.delmessage {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 8.5%;
}

.delConfirmAndCancel {
  border: none;
  border-radius: 5vh;
  padding: 3% 5% 3% 5%;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  cursor: pointer;
  margin-top: 5%;
}

.yesdel {
  float: right;
  border: 2px solid #844242;
  color: #844242;
}

.canceldel {
  float: right;
  border: 2px solid grey;
  color: grey;
  margin-right: 4%;
}

/*  */

#changeTooWeakError {
  font-family: "Open Sans", sans-serif;
  color: #bf3b3b;
  margin: 0;
  margin-top: 9%;
  font-size: 1.1rem;
  display: none;
  align-self: center;
}

#changeDontMatchError {
  font-family: "Open Sans", sans-serif;
  color: #bf3b3b;
  margin: 0;
  margin-top: 9%;
  font-size: 1.1rem;
  display: none;
  align-self: center;
}

#changeHasToBeDifferentError {
  font-family: "Open Sans", sans-serif;
  color: #bf3b3b;
  margin: 0;
  margin-top: 9%;
  font-size: 1.1rem;
  display: none;
  align-self: center;
}

#changeIncorrectPasswordError {
  font-family: "Open Sans", sans-serif;
  color: #bf3b3b;
  margin: 0;
  margin-top: 9%;
  font-size: 1.1rem;
  display: none;
  align-self: center;
}

.buttonToEnableOrDisable {
  border-radius: 8vh;
  background-color: #1a1c20;
  width: 19%;
  border: 2px solid #363b45;
  padding: 1.5%;
  align-self: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.buttonToEnableOrDisable:hover {
  background-color: #4f5562;
  transition: 0.2s;
}

#textToConfirmMPForMFA {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 9%;
  margin-bottom: 6%;
}

.popupAskForMPToEnableMFA {
  display: none;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
  background-color: #585454;
  border-radius: 1vh;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  padding: 3%;
}

#confirmMPForMFAInput {
  background-color: #5c615c;
  border: 3px solid grey;
  border-radius: 0.5vh;
  padding: 3%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

#showPassBeingConfirmed {
  background-color: #212121;
  border: 2px solid #4b4d4b;
  border-radius: 0.5vh;
  padding: 3%;
  margin-top: 4%;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

#confirmMPForMFAButton {
  background-color: teal;
  border: 2px solid #4b4d4b;
  border-radius: 0.5vh;
  padding: 3%;
  margin-top: 1%;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

#buttonToCloseConfirmMPForMFAPopup {
  position: absolute;
  right: 4%;
  top: 4%;
  padding: 2% 3% 2% 3%;
  border: 1px solid #707070;
  border-radius: 10vh;
  background-color: #3e3e3e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#buttonToCloseConfirmMPForMFAPopup:hover {
  background-color: #504f4f;
  transition: 0.2s;
}

/*  */

.popupWithMFAInformation {
  display: none;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
  background-color: #585454;
  border-radius: 1vh;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  padding: 3%;
}

.qrcodeWrapper {
  display: flex;
  justify-content: center;
}

#qrcodeForMFA {
  width: 250px;
  height: 250px;
  border-radius: 2vh;
}

#mfaCode {
  padding: 0%;
  color: black;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

/*  */

#buttonToCloseConfirmMFAForDisableMFAPopup {
  position: absolute;
  right: 4%;
  top: 4%;
  padding: 2% 3% 2% 3%;
  border: 1px solid #707070;
  border-radius: 10vh;
  background-color: #3e3e3e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

#buttonToCloseConfirmMFAForDisableMFAPopup:hover {
  background-color: #504f4f;
  transition: 0.2s;
}

#textToConfirmMFAToDisableMFA {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 9%;
  margin-bottom: 6%;
}

.popupAskForMFAToDisableMFA {
  display: none;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
  background-color: #585454;
  border-radius: 1vh;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  padding: 3%;
}

#confirmMFAToDisableMFAButton {
  background-color: teal;
  border: 2px solid #4b4d4b;
  border-radius: 0.5vh;
  padding: 3%;
  margin-top: 1%;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

#confirmMFAToDisableMFAInput {
  background-color: #5c615c;
  border: 3px solid grey;
  border-radius: 0.5vh;
  padding: 3%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 1000px) {
  body {
    margin-top: 8%;
  }
}

@media screen and (min-width: 1080px) {
  body {
    margin-top: 7%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    margin-top: 6%;
  }
}
